<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Backend/etc/menu.xsd">
    <menu>
        <add id="CodeM_Testimonials::parent" title="Testimonials" module="CodeM_Testimonials" sortOrder="100" resource="CodeM_Testimonials::parent"/>
        <add id="CodeM_Testimonials::index" title="Testimonials Index" module="CodeM_Testimonials" sortOrder="10" action="testimonials/index" resource="CodeM_Testimonials::index" parent="CodeM_Testimonials::parent"/>
		
    </menu>
</config>